/* website styling */
body{
    background-color: rgb(235, 198, 131);
}
nav{
    background-color: rgb(165, 22, 12);
    padding: 1px;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    color: rgb(235, 198, 131);
    text-decoration: none;
    font-size: 200%;
    background-color: rgb(165, 22, 12);
    border: 2px solid rgb(235, 198, 131);
    border-radius: .25em;
    padding: 3px;
}
a:hover{
    background-color: rgb(235, 198, 131);
    color: rgb(165, 22, 12);
}
footer{
    clear: both;
}

/* content styling */
img{
    float: left; margin-right: 1%; /* floats image to the left */
}
table{
    width: 100%;
    border: 1px solid black;
}

/* ID css */
#copyright{color: grey; font-size: 80%;}

/* class */
.center{text-align: center;}
.right{text-align: right;}
.clear{clear: both;} /* clears floats - place on elements where float shouldnt effect to clear a float */