/* website styling */
body{
    background-color: rgb(235, 198, 131);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    background-color: rgb(165, 22, 12);
    padding: 1px;
}
nav{
    background-color: rgb(165, 22, 12);
    padding: 1px;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    color: rgb(235, 198, 131);
    text-decoration: none;
    font-size: 200%;
    background-color: rgb(165, 22, 12);
    border: 2px solid rgb(235, 198, 131);
    border-radius: .25em;
    padding: 3px;
}
a:hover{
    background-color: rgb(235, 198, 131);
    color: rgb(165, 22, 12);
}
footer{
    clear: both;
    background-color: rgb(165, 22, 12);
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

/* ID css */
#copyright{color: rgb(235, 198, 131); font-size: 80%;}
#active{
    border: 2px solid rgb(238, 183, 5);
    background-color: rgb(165, 22, 12);
    color: rgb(238, 183, 5);
}

/* class */
.floatLeft{float: left; margin-right: .5%;}
.right{text-align: right;}
.clear{clear: both;} /* clears floats - place on elements where float shouldnt effect to clear a float */